.about-page {
  background-image: url('https://st4.depositphotos.com/13349494/24366/i/600/depositphotos_243666118-stock-photo-selective-focus-golden-stones-sparkling.jpg');
  background-repeat: no-repeat;
  background-size: cover;
    text-align: center;
    padding-left:15rem;
    padding-right:15rem;

  
    .logo-tecum{
    margin-bottom: 10rem;
    margin-top: 10rem;
    object-fit: cover;
    border-radius: 50%;

    }
    h1 {
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
      color: #ffc229;
    }
  
    p {
      font-size: 1.2rem;
      line-height: 1.5;
      color: #666;
    }
  }
