.featured-products {
  padding: 2rem;
  background-image: url('https://images.unsplash.com/photo-1594922234647-4ade6282c369?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D');
  background-size: contain;
  h2 {
    text-align: center;
    color: #333;
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-top: 2rem;
  }

  .product-card {
    background-color: #fff;
    border-radius: 5px;
    padding: 1rem;
    border: 2px solid rgb(172, 172, 172);
    box-shadow: 1 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;

    img {
      width: 100%;
      border-radius: 10px;
      object-fit: cover;
    }

    h3 {
      margin-top: 1rem;
      font-size: 1.2rem;
      color: #333;
    }

    p {
      font-size: 1rem;
      color: #777;
    }

    .product-button {
      display: inline-block;
      margin-top: 0.5rem;
      padding: 0.5rem 1rem;
      background-color: #ffc229;
      color: #333;
      border: none;
      border-radius: 5px;
      text-decoration: none;
      transition: background-color 0.3s;

      &:hover {
        background-color: #e6b020;
      }
    }

    &:hover {
      transform: scale(1.05);
    }
  }
}
