.featured-products {
  margin-top: -5.6rem;
  padding: 20px;
  background-image: url('https://st2.depositphotos.com/29354314/42375/i/600/depositphotos_423751084-stock-photo-abstract-white-paper-background-texture.jpg');
  background-size: contain;


  .feature-title{
      font-size: 3rem;
      text-align: center;
      color: #ffffff;
    }
  

  .product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-top: 2rem;
  }

  .product-card {
    background-color: #fff;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 1 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;

    img {
      width: 100%;
      border-radius: 10px;
      object-fit: cover;
    }

    h3 {
      margin-top: 1rem;
      font-size: 1.2rem;
      color: #565555;
    }

    p {
      font-size: 1rem;
      color: #565555;
    }

    .product-button {
      display: inline-block;
      margin-top: 0.5rem;
      padding: 0.5rem 1rem;
      background-color: #ffc229;
      color: #333;
      border: none;
      border-radius: 5px;
      text-decoration: none;
      transition: background-color 0.3s;

      &:hover {
        background-color: #e6b020;
      }
    }

    &:hover {
      transform: scale(1.05);
    }
  }
}
