.shipping-banner {
    position: fixed;
    background-image: url('https://st4.depositphotos.com/22719282/39379/i/600/depositphotos_393790446-stock-photo-modern-wave-stripes-white-background.jpg');
    color: #fff;
    padding: 0.5rem 0;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 202vh;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
  }
  
  .shipping-banner__content {
    display: inline-block;
    animation: fadeInOut 3s ease-in-out infinite;
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    40% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  