.chat-box {
    width: 200vh;
    height: 30vh;
    border: 2px solid #ffffff;
    margin-top: 2rem;
    margin-right: 3rem;

  
    .chat-window {
      height: 13rem;
      overflow-y: scroll;
      font-family: 'Press Start 2P', cursive; 
    }
  
    .chat-bubble {
      margin: 5px 0;
      padding: 8px;
      border-radius: 10px;
  
      &.angel-bubble {
        background-color: lightblue;
        text-align: left;
      }
  
      &.demon-bubble {
        background-color: darkred;
        text-align: left;
      }
    }
  }
  