/* index.scss */

/* Styles globaux */
body {
   
    font-family: 'Arial', sans-serif;
  }
  
  /* Style pour l'header et la partie haute du site (Paradis) */
  .header {
    background-color: #ADD8E6; /* Bleu clair pour symboliser le paradis */
    color: #000; /* Texte noir pour contraste */
    border-bottom: 2px solid #87CEEB; /* Bordure légère bleue ciel */
  }
  
  button {
    background-color: #fff; /* Fond blanc pour les boutons */
    color: #ffffff; /* Texte noir */
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #f0f0f0; /* Couleur plus claire au survol */
  }
  
  /* Contenu principal */
  main {
    background-color: #ADD8E6; /* Fond bleu clair pour la partie paradis */
    flex-grow: 1;
  }
  
  /* Style pour le footer et la partie basse du site (Enfer) */
  footer {
    background-color: #8B0000; /* Rouge foncé pour symboliser l'enfer */
    color: #fff; /* Texte blanc pour contraste */
    border-top: 2px solid #ff4500; /* Bordure rouge orangé pour l'effet feu */
  }
  
  footer a {
    color: #fff; /* Liens sociaux en blanc */
    transition: color 0.3s ease;
  }
  
  footer a:hover {
    color: #ff4500; /* Couleur au survol pour donner un effet de chaleur infernale */
  }
  
  footer .text-center {
    margin-top: 1rem;
    font-size: 0.875rem;
  }
  
  /* Styles pour les icônes de réseaux sociaux */
  footer .flex a {
    display: inline-block;
    padding: 0.5rem;
  }
  
  