.profile-page {
    background-color: #000;
    color: #f6f6f6;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .profile-info {
      background-color: #222;
      padding: 20px;
      border-radius: 10px;
      width: 50%;
      margin-bottom: 20px;
    }
  
    .edit-btn {
      background-color: #ed0808;
      color: #fff;
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
  
      &:hover {
        background-color: #ddd;
        color: #000;
      }
    }
  }
  