.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); // Fond transparent sombre pour le reste de la page
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.profile-modal {
  background-color: #111;
  color: #fff;
  padding: 20px;
  border-radius: 15px;
  width: 60%;
  max-width: 800px;
  position: relative;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);

  .profile-title {
    font-size: 2.5rem;
    color: #ffc229; // Couleur dorée pour le titre
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
  }

  .profile-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .profile-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #00aaff; // Couleur bleu céleste
    margin-right: 20px;
  }

  .profile-details {
    p {
      margin: 10px 0;
      font-size: 1.2rem;
      color: #fff;
    }
  }

  .game-area {
    margin-top: 40px;
    position: relative;
    height: 400px;
    background-color: #333;
    border: 2px solid #ff5555; // Bordure rouge représentant le thème démoniaque
    border-radius: 15px;
    overflow: hidden;

    .character {
      position: absolute;
      width: 50px;
      height: 50px;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .angel {
      background-image: url('/images/angel.png'); // Image d'ange
    }

    .demon {
      background-image: url('/images/demon.png'); // Image de démon
    }
  }

  .close-button {
    background-color: #ff5555; // Couleur rouge démon
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;

    &:hover {
      background-color: #ff3333;
    }
  }
}
