.about-page {
    padding: 3rem;
    text-align: center;
  
    h1 {
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
      color: #ffc229;
    }
  
    p {
      font-size: 1.2rem;
      line-height: 1.5;
      color: #666;
    }
  }
  