.header {
    width: 90vh;
    height: 8vh;
    background-image: url('https://st2.depositphotos.com/4259495/7397/i/600/depositphotos_73973995-stock-photo-grey-gradient-blurred-abstract-background.jpg');
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    border-radius: 10px;
    margin-left: -20rem;
    padding-bottom: 2rem;
    padding-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
  
 
  
    &__nav a {
      margin: 1rem 1rem 3rem 2rem;
      margin-bottom:30rem;
      color: #fff;
      text-decoration: none;
      transition: color 0.3s;
  
      &:hover {
        color: #ffc229;
      }
    }
  }
  
  .logo-tecum {
    margin-left: 0.5rem;
    margin-top: 0.5rem;

    width: 55px; 
    height: 55px; 
    border-radius: 50%; 
    object-fit: cover; 
    cursor: pointer;
  }