.shipping-banner {
    background-color: #000;
    color: #fff;
    padding: 0.2rem 0;
    font-size: 1rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    position: fixed;
    display: flex;
    align-items: center;
    height: 40px;
  }
  
  .shipping-banner__content {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 70s linear infinite;
    color: #ffc229; 
  }
  
  .shipping-banner__content span {
    margin-right: 2rem;
    color: #fff;
  }
  
  .shipping-banner__content span.red {
    color: #ff0000;
  }
  
  @keyframes marquee {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  