body {
  font-size: 3rem;
    margin: 0;
    font-family: 'Arial', sans-serif;
  }

  
  .min-h-screen {
    min-height: 100vh;
  }

  
  .header, .footer {
    border-color: #555;
  }
  

  .button {
    font-size: small;
    justify-content: space-between;
    color: #f6f6f6;
    background-color: #ed0808;
    border-radius: 10px;
    padding: 1rem 1rem;
    &:hover {
      background-color: #ddd;
    }
  }
  
  .footer {
    justify-content: end;
    padding: 1rem;
    text-align: center;
  
    a {
      color: #f8b2d1;
      margin-right: 1rem;
      &:hover {
        color: #fff;
      }
    }
  
    p {
      margin: 0.5rem 0;
    }
  }

  h1{
color:hsl(0, 93%, 48%);
font-size: 8rem;
text-align: center;

  }
  