 @import url('https://fonts.cdnfonts.com/css/dusk-demon');
           

body {
  font-size: 3rem;
  font-family: 'Arial', sans-serif;
}

.min-h-screen {
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #f0f0f0; /* Fond gris clair comme demandé */

  .logo-tecum {
    margin-right: 1rem;
    width: 50px; /* Ajuste la taille du logo si nécessaire */
    height: auto;
  }

  .buttons {
    margin-left: 1rem;
    font-size: medium;
    color: #f6f6f6;
    background-color: #ed0808;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    &:hover {
      background-color: #ddd;
    }
  }
}


h1 {
  margin-bottom: -3rem;
  margin-top: -3rem;
  color: hsl(0, 93%, 48%);
  font-size: 10rem;
  text-align: center;
  font-family: 'Dusk Demon 3D Italic', sans-serif; }



.social-medias {
  display: flex; /* Alignement des icônes en ligne */
  justify-content: center;
  gap: 1rem; /* Espace entre les icônes */
}

.merchandising {
  display: none; /* Masque la barre de navigation par défaut */
  justify-items: center;
  font-size: medium;
}

.merchandising.visible {
  display: inline-block; /* Rend la MenuBar visible lors du clic sur le logo */
}


.dialogue-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
    .speech-bubble {
      background: #fff;
      border: 2px solid #000;
      width: 200vh;
      height: auto;
      border-radius: 10px;
      margin-top: 1rem;
      margin-bottom: 1rem;
      text-align: center;
      font-size: 2rem;
      font-family: 'Dusk Demon', sans-serif; 
       max-width: 200px;
    }
  


.chat-box {
  width: 100%;
  background-color: black;
  border: 2px solid #ffcb05;
  padding: 10px;
  margin-top: 20px;

  .chat-window {
    height: 150px;
    overflow-y: scroll;
    background-color: #f5f5f5;
    padding: 10px;
    border: 2px solid #333;
  }

  .chat-bubble {
    margin: 5px 0;
    padding: 10px;
    border-radius: 10px;
    font-family: 'PixelatedFont', sans-serif;
    background-color: white;
  }

  .angel-bubble {
    background-color: lightblue;
    text-align: left;
  }

  .demon-bubble {
    background-color: darkred;
    text-align: right;
  }

  .chat-input {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    input {
      width: 80%;
      padding: 5px;
      font-size:x-large;
      font-family: 'PixelatedFont', sans-serif;
      border: 2px solid #ffcb05;
      background-color: black;
      color: white;
    }

    button {
      font-size: x-large;
      width: 18%;
      background-color: #ffcb05;
      color: black;
      padding: 5px;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

.footer {
  color: white;
  justify-content: end;
  padding: 3rem;
  text-align: center;
  font-size: 1rem;
 background: #555;
}
